html{
    background-color: black;

    animation-name: main-fade-in;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

.center{
    text-align: center;
    align-items: center;
}

.roboto{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


/* Add any and all keyframes functions after this comment */

@keyframes main-fade-in {
    0%{background-color: black;}
    100%{background-color: white;}
}